<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description" content="This is an application that creates selective garbage collection points and then allows you to view the registered points.">
    <meta property="og:image" content="https://uploaddeimagens.com.br/images/004/178/847/full/cover_%281%29.png">
    <meta property="description" content="This is an application that creates selective garbage collection points and then allows you to view the registered points.">
    <meta property="image" content="https://uploaddeimagens.com.br/images/004/178/847/full/cover_%281%29.png">

    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}

    <link rel="icon" type="image/x-icon" href="/assets/reciclar.ico">
   
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    
{% block styles %}{% endblock styles %}

    <link rel="stylesheet" href="/styles/responsive.css">
    
    
</head>
<body>
    <div id="{{ pageId }}">

    {% block content %}
    {% endblock content %}
    
    </div>
    
    {% block modal %}
    {% endblock modal %}

    
    {% block scripts %}
    {% endblock scripts %}

</body>
</html>
