/*????*/

@media (max-width: 800px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        visibility: hidden;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        /* transform: translateY(280%); */
    }

    #page-home main {
        align-items: center;
    }

    #call {
        visibility: visible;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
        padding-bottom: 1.6rem;
    }

    #page-create-point .items-grid {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    #page-create-point .field-group .field+.field {
        margin: 0;
    }

    #page-create-point .button {
        text-align: center;
    }

}

@media(min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media(max-width: 476px) {
    #page-home header a {
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        /* transform: translateY(280%); */
        
    }

    #page-create-point .items-grid {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    
}

@media(max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}